<div class="auth-page">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <h1 class="text-xs-center">Sign Up</h1>
      <p class="text-xs-center">
        <a [routerLink]="['/login']">Already have an account.?</a>
      </p>
      <p>Backend errors here</p>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Username"
              formControlName="username"
            />
          </fieldset>
          <div *ngIf="showFormErrors('username')" class="alert alert-danger">
            {{ showFormErrors("username") }}
          </div>
          <fieldset class="form-group">
            <input
              type="email"
              class="form-control form-control-lg"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <div *ngIf="showFormErrors('email')" class="alert alert-danger">
            {{ showFormErrors("email") }}
          </div>
          <fieldset class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <div *ngIf="showFormErrors('password')" class="alert alert-danger">
            {{ showFormErrors("password") }}
          </div>
          <button
            class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="registerForm.invalid && !(isSubmitting$ | async)"
          >
            Sign Up
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
